@font-face
{
  font-family: "TravelingTypewriter.ttf";
  src: url(fonts/TravelingTypewriter.ttf);
}




header {
   min-height: 60%;
   background-image: url("images/background.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center; 
   color:whitesmoke;
   text-align: center;
   padding: 5%;
   font-size: 150%;
}

header p {
    margin-top: 10;
}

#globeimage {
    width: 70px;
}

nav {
    background-color: #406857;
    display: flex;
    justify-content: space-between;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

#photo-index{
   
    width: 50%;
    align-items: center;
    margin: auto;
}

article {
    flex: 1;
    min-width: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
   
}

article img {
    width: 100%;
}

aside {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.fiche-voyage {
    background-color:grey;
    margin: 10px;
    text-align: center
}

footer {
    background-color: #86898C;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: x-small;
}

body {
    height: 100vh;
    margin: 0;
}

#current-nav-item { 
background-color: grey; }

.navitem {
    height: 60px;
    min-width: 100px;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

.navitem a, .navitem a:visited {
    color: white;
    text-decoration: none;
}

.navitem:hover {
    background-color: grey;
    text-decoration: underline overline;
}

.social a img
{ width: 20px
}

h2 {
    padding: 5px;
}

